<!DOCTYPE html>
<html lang="es" xml:lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="theme-color" content="#242323">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


    <title>{% block title %}StudioZentro - Muebles de diseño a medida{% endblock %}</title>
    <meta property="title" content="Muebles de diseño a medida Madrid">

    <meta property="description" content="Muebles modernos de diseño en Madrid, proveedor oficial.">
    <meta name="description" content="{% block descripcion %}Muebles modernos de diseño en Madrid, proveedor oficial.{% endblock %}">
    <meta name="keywords" content="muebles de diseño madrid">
    <meta name="author" content="Cowabi LTD">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76632326-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-76632326-3');
    </script>

    {% block javascripts %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        <!-- Custom Theme files -->
        <!--theme-style-->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        <!--//theme-style-->
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!---->
        <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Open+Sans" rel="stylesheet">

        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="{{ asset('js/move-top.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/easing.js') }}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>
        <!-- start-smoth-scrolling -->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/component.css') }}" />
        <!-- animation-effect -->
        <link href="{{ asset('css/animate.min.css') }}" rel="stylesheet">
        <script src="{{ asset('js/wow.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
        <link href="{{ asset('css/agency.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/formstyles.css') }}" rel="stylesheet" type="text/css">
        <script>
            new WOW().init();
        </script>
        <!-- //animation-effect -->
    {% endblock %}

    {% block cookies %}
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
        <script>
            window.addEventListener("load", function(){
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#000000",
                            "text": "#ffffff"
                        },
                        "button": {
                            "background": "#fdf7f1"
                        }
                    },
                    "theme": "edgeless",
                    "content": {
                        "message": "StudioZero utiliza cookies para asegurarse una mejor experiencia de usuario",
                        "dismiss": "Entendido!",
                        "link": "Saber más"
                    }
                })});
        </script>
    {% endblock %}

    {% block extra %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="body">

<div class="{% block header %} header-basica{% endblock %}">
    {% block topnav %}
        {% include ':custom:topnav.html.twig' %}
    {% endblock %}

    {% block slider %}

    {% endblock %}
</div>

<div class="container-fluid mt-5 ml-5 mr-5 mb-5">
    {% block flash %}
        {% for msg in app.session.flashBag.get('error') %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ msg }}
            </div>
        {% endfor %}
        {% for msg in app.session.flashBag.get('warning') %}
            <div class="alert alert-warning alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ msg }}
            </div>
        {% endfor %}
        {% for msg in app.session.flashBag.get('notice') %}
            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ msg }}
            </div>
        {% endfor %}
        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ msg }}
            </div>
        {% endfor %}
    {% endblock %}

    {% block content %}{% endblock %}
</div>


</body>

{% block footer %}
    {% include ':custom:footernav.html.twig' %}
{% endblock %}

</body>
</html>
