<!DOCTYPE html>
<html lang="es" xml:lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


    <title>{% block title %}StudioZentro - Muebles de diseño a medida{% endblock %}</title>
    <meta property="title" content="Muebles de diseño a medida Madrid">

    <meta property="description" content="Muebles modernos de diseño en Madrid, proveedor oficial.">
    <meta name="description" content="{% block descripcion %}Muebles modernos de diseño en Madrid, proveedor oficial.{% endblock %}">
    <meta name="keywords" content="muebles de diseño madrid">
    <meta name="author" content="Cowabi LTD">

    {% block javascripts %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <!-- Custom Theme files -->
        <!--theme-style-->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
        <!--//theme-style-->
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!---->
        <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Open+Sans" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- start-smoth-scrolling -->
        <script type="text/javascript" src="{{ asset('js/move-top.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/easing.js') }}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                });
            });
        </script>
        <!-- start-smoth-scrolling -->
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/component.css') }}" />
        <!-- animation-effect -->
        <link href="{{ asset('css/animate.min.css') }}" rel="stylesheet">
        <script src="{{ asset('js/wow.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
        <link href="{{ asset('css/agency.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
        <script>
            new WOW().init();
        </script>
        <!-- //animation-effect -->
    {% endblock %}

    {% block cookies %}
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
        <script>
            window.addEventListener("load", function(){
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#216942",
                            "text": "#b2d192"
                        },
                        "button": {
                            "background": "#afed71"
                        }
                    },
                    "theme": "edgeless",
                    "content": {
                        "message": "StudioZero utiliza cookies para asegurarse una mejor experiencia de usuario",
                        "dismiss": "Entendido!",
                        "link": "Saber más"
                    }
                })});
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96652678-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-96652678-1');
        </script>

    {% endblock %}

    {% block extra %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="body">

<div class="{% block header %} header-basica{% endblock %}">
    {% block topnav %}
        {% include ':custom:topnav.html.twig' %}
    {% endblock %}

    {% block slider %}

    {% endblock %}
</div>

{% block content %}

{% endblock %}

</body>

{% block footer %}
    {% include ':custom:footernav.html.twig' %}
{% endblock %}

</body>
</html>
