{% extends ':custom:base.html.twig' %}
{% block title %} StudioZentro - {{ tipo }} {% endblock %}
{% block extra %}
    <link rel="stylesheet" href="{{ asset('css/fluid-gallery.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fluidgalleryaux.min.css') }}">
{% endblock %}

{% block content %}
    <div class="content" id="content-down">
        <div class="content-top-top">
            <div class="container">
                <div class="content-top">
                    <div class="col-md-12 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h1>
                            {{ titleh1 }}
                        </h1>
                    </div>
                    <div class="clearfix"> </div>

                    {% if tipo == 'electrodomesticos' %}
                        <h2 class="title-white">AIRE GUIADO EXTRACTOR NEFF</h2>

                        <div class="center-block">
                            <video width="100%" autoplay muted loop>
                                <source src="{{ asset('video/aire-guiado-encimeras.mp4') }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>

                        <h2 class="title-white">HORNOS NEFF CON PUERTAS SLIDE & HIDE.</h2>

                        <div class="center-block">
                            <video width="100%" autoplay muted loop>
                                <source src="{{ asset('video/videoneff.mp4') }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>

                        <h2 class="title-white">INDUCCIÓN DE ÚLTIMA GENERACIÓN NEFF.</h2>

                        <div class="center-block">
                            <video width="100%" controls>
                                <source src="{{ asset('video/inducciontotalneff.mp4') }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    {% endif %}

                    {% if tipo == 'cocinas' %}
                        <h2 class="title-white">HERRAJES HETTICH.</h2>

                        <div class="center-block">
                            <video width="100%" autoplay muted loop>
                                <source src="{{ asset('video/hetich.mp4') }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>

                        <iframe width="100%" src="https://www.youtube.com/embed/-bqZrN6hzz8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay=1&mute=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% endif %}

                    {% if tipo == 'encimeras' %}
                        <h2 class="title-white">CooKingRAK - La encimera inteligente</h2>

                        <iframe width="100%" src="https://www.youtube.com/embed/PaovKYzt1tM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% endif %}

                    {% if tipo == 'cocinas_instaladas' %}
                        <h2 class="title-white">Catálogo del <a href="/galeria/cocinas_instaladas/proyecto_las_rozas">proyecto Las Rozas</a></h2>
                        <h2 class="title-white">Catálogo del <a href="/galeria/cocinas_instaladas/proyecto_garcia">proyecto García de Paredes</a></h2>
                        <h2 class="title-white">Catálogo del <a href="/galeria/cocinas_instaladas/proyecto_trescantos">proyecto en Tres Cantos</a></h2>
                        <h2 class="title-white">Catálogo del <a href="/galeria/cocinas_instaladas/proyecto_barajas">proyecto Barajas</a></h2>
                        <h2 class="title-white">Catálogo del <a href="/galeria/cocinas_instaladas/proyecto_alonsocano">proyecto Alonso Cano</a></h2>
                        <h2 class="title-white">Catálogo del <a href="/galeria/cocinas_instaladas/proyecto_avenida_burgos">proyecto Avenida de Burgos</a></h2>
                        <h2 class="title-white">Catálogo del <a href="/galeria/cocinas_instaladas/proyecto_reina_victoria">proyecto en Reina Victoria I</a></h2>
                        <h2 class="title-white">Catálogo del <a href="/galeria/cocinas_instaladas/proyecto_reinavictoria">proyecto en Reina Victoria II</a></h2>
                        <h2 class="title-white">Catálogo del <a href="/galeria/cocinas_instaladas/proyecto_pozuelo">proyecto en Pozuelo</a></h2>
                        <h2 class="title-white">Catálogo del <a href="/galeria/cocinas_instaladas/proyecto_ciudad_del_campo">proyecto en Ciudad del Campo</a></h2>
                    {% endif %}

                    {% if tipo == 'proyecto_barajas' %}
                        <h2 class="title-white">Video Cocina</h2>

                        <div class="center-block">
                            <video width="50%" autoplay muted loop>
                                <source src="{{ asset('video/cocinabarajas.mp4') }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    {% endif %}


                </div>

                <div class="container gallery-container">
                    <div class="tz-gallery">
                        <div class="row">
                            {% for imagend in imagenes %}
                            {% for imagen in imagend %}
                                {% if tipo == 'catalogo' %}
                                    <div class="col-sm-6 col-md-6 imagen-galeria">
                                {% else %}
                                        <div class="col-sm-6 col-md-4 imagen-galeria">
                                {% endif %}

                                    <a class="lightbox" href="{{ asset(imagen.fichero) }}">
                                        <img src="{{ asset(imagen.fichero) }}"  title="{{ imagen.nombre }} alt="{{ imagen.nombre }}">
                                    </a>
                                    <div class="label-galeria">
                                        <p class="nombre-imagen">{{ imagen.nombre | title}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/fluidgalleryaux.min.js') }}"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
{% endblock %}

