<h3>Nuevo formulario de contacto</h3>

<ul>
    <li><strong><b>Nombre:</b></strong>{{ form['nombre'] }}</li>
    <li><strong><b>Dirección:</b></strong>{{ form['direccion'] }}</li>
    <li><strong><b>Teléfono:</b></strong>{{ form['telefono'] }}</li>
    <li><strong><b>Email:</b></strong>{{ form['email'] }}</li>
    <li><strong><b>Código Postal:</b></strong>{{ form['codigo'] }}</li>
    <li><strong><b>Comentario:</b></strong>{{ form['comentarios'] }}</li>
</ul>
