{% extends ':restaulandia:base.html.twig' %}

{% block extra %}
    <link rel="stylesheet" href="{{ asset('css/fluid-gallery.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fluidgalleryaux.min.css') }}">
{% endblock %}

{% block content %}
    <div class="content" id="content-down">
        <div class="content-top-top">
            <div class="container">
                <div class="content-top">
                    <div class="col-md-12 content-left animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>
                            <span class="rojo">Galería</span>
                            {% if tipo != 'infantil' %}
                                <span class="celeste">de</span>
                            {% endif %}
                            <span class="amarillo">{{ tipo }}</span>
                        </h3>
                        <label><i class="glyphicon glyphicon-menu-up"></i></label>
                        <span class="letra-carta">ENVÍANOS TUS FOTOS Y LAS INCORPORAMOS A LA WEB. (reservas@restaulandia.com)</span>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="container gallery-container">
                    <div class="tz-gallery">
                        <div class="row">
                            {% for imagend in imagenes %}
                            {% for imagen in imagend %}
                                <div class="col-sm-6 col-md-4 imagen-galeria">
                                    <a class="lightbox" href="{{ asset(imagen.fichero) }}">
                                        <img src="{{ asset(imagen.fichero) }}"  title="{{ imagen.nombre }} alt="{{ imagen.nombre }}">
                                    </a>
                                </div>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/fluidgalleryaux.min.js') }}"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
{% endblock %}

