<div class="container">
    <div class="logo animated wow pulse" data-wow-duration="1000ms" data-wow-delay="500ms">
        <h1><a href="{{ path('homepage') }}">
                <span class="letra-normal">Restau</span>
                <span class="junto kid-font rojo">l</span>
                <span class="junto kid-font celeste">a</span>
                <span class="junto kid-font rojo">n</span>
                <span class="junto kid-font amarillo">d</span>
                <span class="junto kid-font celeste">i</span>
                <span class="junto kid-font amarillo">a</span>
                <img src="{{ asset('icono.png') }}" alt="Restaulandia" title="Restaulandia" height="45px">
            </a></h1>
    </div>
    <div class="nav-icon">
        <a href="#" class="navicon"><span class="menu-txt blanco kid-font2">MENU</span></a>
        <div class="toggle">
            <ul class="toggle-menu">
                <li><a class="active" href="{{ path('homepage') }}">Inicio</a></li>
                <li><a class="rojo" href="{{ path('reserva') }}">Reserva y contacto</a></li>
                <li><a class="celeste" href="{{ path('carta') }}">Carta</a></li>
                <li><a class="rojo" href="{{ path('galeria', {'tipo': 'platos'}) }}">Galería platos</a></li>
                <li><a class="celeste" href="{{ path('galeria', {'tipo': 'infantil'}) }}">Zona infantil</a></li>
                <li><a class="amarillo" href="{{ path('galeria', {'tipo': 'videos'}) }}">Galería vídeos</a></li>
                <li><a class="rojo" href="{{ path('quienesSomos') }}">Quienes somos</a></li>
                <li><a class="amarillo" href="{{ path('promociones') }}">Promociones</a></li>
            </ul>
        </div>
        <script>
            $('.navicon').on('click', function (e) {
                e.preventDefault();
                $(this).toggleClass('navicon--active');
                $('.toggle').toggleClass('toggle--active');
            });
        </script>
    </div>
    <div class="clearfix"></div>
</div>

